.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #ccc;
    border: 1rem solid;
    z-index: -1;
    position: relative;
    margin-top: 0;
    animation-name: UpDown;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes UpDown {
    0% {margin-top: 0;}
    50% {margin-top: -1.6rem;}
    100% {margin-top: 0;}
}