.container{
    margin-top: 6.25rem;

    .banner {
        text-align: center;
        width: 70vw;
        max-width: 50rem;
        margin: 0 auto;
        animation-name: FadeIn;
        animation-duration: .25s;

        @keyframes FadeIn{
            0% {opacity: 0;}
            100% {opacity: 1;}
        }

        h1{
            font-size: 4rem;
        }

        .stacksBox {
            display: flex;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            justify-content: space-between;

            :nth-child(1){
                font-size: 7rem;
                margin-top: 0;
            }

            :nth-child(2){
                font-size: 7rem;
                margin-top: 0;
            }

            :nth-child(3){
                font-size: 7rem;
                margin-top: 0;
            }
        }
    }

    .presentation {
        margin-top: 2rem;
        margin-bottom: 6rem;
        display: flex;
        justify-content: space-between;

        p {
            max-width: 35rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-align: justify;
            font-weight: 400;
        }

        .cv{
            width: 15rem;
            height: 15rem;
            margin-top: 2rem;
            background: #f2f2f2;
            text-align: center;
            padding-top: 5rem;
            border-radius: .125rem;


            svg{
                font-size: 3.6rem;
                color: #0B151F;
            }
            
            button {
                position: relative;
                bottom: -4.8rem;
                border-radius: 0 0 .125rem .125rem;
                background: #0081CB;
                padding: 1rem;
                width: 100%;
                font-weight: bold;
            }
        }
    }

    .projects{
        margin-top: 3rem;

        h2{
            font-size: 2.25rem;
        }

        .projectsItem{
            width: 100%;
            height: 25rem;
            background: #0081CB;
            margin-bottom: 1.6rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    .container{
        .banner{
            width: 75vw;
            max-width: 40rem;

            h1{
                font-size: 2.5rem;
            }

            .stacksBox{
                :nth-child(1){
                    font-size: 4.5rem;
                }
    
                :nth-child(2){
                    font-size: 4.5rem;
                }
    
                :nth-child(3){
                    font-size: 4.5rem;
                }
            }
        }
}
}

@media only screen and (max-width: 450px) {
    .container{
        .banner{
            .stacksBox{
                :nth-child(1){
                    font-size: 3.5rem;
                }
                :nth-child(2){
                    font-size: 3.5rem;
                }
                :nth-child(3){
                    font-size: 3.5rem;
                }
            }
        }
}
}